<div class="jumbo-tron-mt-4">
    <h1 class="display-4">Words-Apps</h1>
        <div class="lead">Descripción breve de la aplicación. <br> Se utiliza para revisar tarjetas de memoria y para crear tus propios juegos de tarjetas didácticas. Es especialmente bueno para el aprendizaje de idiomas, pero también se puede usar para otros temas. Tiene una interfaz limpia, moderna y es fácil de usar.</div>
        <hr class="mt-4"></div>
        </div><p>
            Diccionario Inglés‑Español
            Cambridge Dictionary ofrece a los estudiantes de inglés de nivel principiante a intermedio palabras y significados actualizados de forma regular con traducción al español, además de miles de ejemplos cuidadosamente seleccionados del Cambridge English Corpus..</p>
    <a href = "https://dictionary.cambridge.org/es/diccionario/ingles-espanol/" class="btn btn-primary btn-lg">Diccionario</a>
</div>
